body {
    background-color:#F9F8F3;
    margin: 0px;
    padding: 0px;
  } 
 .navbar-text
 { 
  position: absolute;
  text-transform: capitalize;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color :  rgba(0, 0, 0, 0.81);
  display: inline-block;
  padding-left:5px;
 }
 .navbar-brand span
 { 
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  font-family: Solway;
  text-transform: uppercase;
  color: #E53338;
 }
.navbar-brand img
{
  width: 79px;
  height: 79px;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 33%;
  padding-top: 80px;
  position: absolute;
}
.form-group h1
{ position: relative;
  padding-top:183px ;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 34px;
color: rgba(0, 0, 0, 0.81);
text-align: center;
}
.form-group h2
{  position: relative;
  padding-top:8px ;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #434343;
text-align: center;
}
.form-inline
{
  
}
.form-control
{
 
  padding-left: 33px;
  background: #E5E5E5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
 
}
.input-group
{
  margin-top: 20px ;
}
.form-check
{
  margin-top: 33px;
}
