body {
    background-color:#F9F8F3;
    margin: 0px;
    padding: 0px;
  } 
 .navbar-text
 { 
  position: absolute;
  text-transform: capitalize;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color : #000000;
  display: inline-block;
  padding-left:5px;
 }
 .navbar-brand span
 { 
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  font-family: Solway;
  text-transform: uppercase;
  color: #E53338;
 }
.navbar-brand img
{
  width: 79px;
  height: 79px;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 33%;
  padding-top: 80px;
  position: absolute;
}